{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Alke Solutions{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Bienvenidos a Alke Solutions</h1>
        <p>Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras para tu negocio.</p>
        <p>Contáctanos para más información sobre nuestros servicios.</p>
    </div>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alke Solutions</title>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenidos a Alke Solutions</h1>
    </header>
    <main>
        <p>Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras para tu negocio.</p>
        <p>Contáctanos para más información sobre nuestros servicios.</p>
    </main>
    <footer>
        <p>&copy; 2024 Alke Solutions. Todos los derechos reservados.</p>
    </footer>